html{
  background-image: url("http://3dsmodels.com/textures/Background/3042.JPG");
background-size: contain;
  color: pink;
  font-size: 20px;
}
body{
  align-content: center;
}
h1, h2, h3 {
  color: #cc0099;
  text-align: center;
  width: 40em;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  font-weight: bolder;
  border-style: solid;
  background-color: white;
}

p {
  color: white;
  align-content: center;
  width: 40em;
  width: auto;
  background-color: pink;
}
p.blocktext{
  margin-left: auto;
  margin-right: auto;
  width: 40em;
}

.button {
    background-color: #b3ffd9;
    border: none;
    color: #cc0099;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-style: dotted;
}

footer {
  text-align: center;
  background-color: transparent;;
  color: #006622;
}

.blink_text {

animation:1s blinker linear infinite;
-webkit-animation:1s blinker linear infinite;
-moz-animation:1s blinker linear infinite;
 color: #00a3cc;
}

@-moz-keyframes blinker {
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

@-webkit-keyframes blinker {
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }

@keyframes blinker {
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
 }
 </style>
 .body{
   text-align: center;
 }
